In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [0]:
from google.colab import files
uploaded = files.upload()

Saving pokemon.csv to pokemon.csv

In [0]:
import io
data_pok_kNN = pd.read_csv(io.BytesIO(uploaded['pokemon.csv']))

data_pok_kNN.head()

   #           Name Type 1  Type 2  ...  Sp. Def  Speed  Generation  Legendary
0  1      Bulbasaur  Grass  Poison  ...       65     45           1      False
1  2        Ivysaur  Grass  Poison  ...       80     60           1      False
2  3       Venusaur  Grass  Poison  ...      100     80           1      False
3  4  Mega Venusaur  Grass  Poison  ...      120     80           1      False
4  5     Charmander   Fire     NaN  ...       50     65           1      False

[5 rows x 12 columns]

In [0]:
data_pok_kNN.isna().sum()

#               0
Name            1
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [0]:
data_pok_kNN.describe()

              #          HP      Attack  ...     Sp. Def       Speed  Generation
count  800.0000  800.000000  800.000000  ...  800.000000  800.000000   800.00000
mean   400.5000   69.258750   79.001250  ...   71.902500   68.277500     3.32375
std    231.0844   25.534669   32.457366  ...   27.828916   29.060474     1.66129
min      1.0000    1.000000    5.000000  ...   20.000000    5.000000     1.00000
25%    200.7500   50.000000   55.000000  ...   50.000000   45.000000     2.00000
50%    400.5000   65.000000   75.000000  ...   70.000000   65.000000     3.00000
75%    600.2500   80.000000  100.000000  ...   90.000000   90.000000     5.00000
max    800.0000  255.000000  190.000000  ...  230.000000  180.000000     6.00000

[8 rows x 8 columns]

In [0]:
data_pok_kNN.shape

(800, 12)

In [0]:
data_pok_kNN['Type 2'].fillna((data_pok_kNN['Type 2'].mode()[0]), inplace=True)

In [0]:
data_pok_kNN.isna().sum()

#             0
Name          1
Type 1        0
Type 2        0
HP            0
Attack        0
Defense       0
Sp. Atk       0
Sp. Def       0
Speed         0
Generation    0
Legendary     0
dtype: int64

In [0]:
data_pok_kNN.dropna(inplace=True)

In [0]:
data_pok_kNN1 = data_pok_kNN.drop(["#", "Type 1", "Type 2"], 1)

In [0]:
data_pok_kNN1

               Name  HP  Attack  Defense  ...  Sp. Def  Speed  Generation  Legendary
0         Bulbasaur  45      49       49  ...       65     45           1      False
1           Ivysaur  60      62       63  ...       80     60           1      False
2          Venusaur  80      82       83  ...      100     80           1      False
3     Mega Venusaur  80     100      123  ...      120     80           1      False
4        Charmander  39      52       43  ...       50     65           1      False
..              ...  ..     ...      ...  ...      ...    ...         ...        ...
795         Diancie  50     100      150  ...      150     50           6       True
796    Mega Diancie  50     160      110  ...      110    110           6       True
797  Hoopa Confined  80     110       60  ...      130     70           6       True
798   Hoopa Unbound  80     160       60  ...      130     80           6       True
799       Volcanion  80     110      120  ...       90     70           6       True

[799 rows x 9 columns]

In [0]:
df_pokemon_6 = data_pok_kNN1.loc[data_pok_kNN1['Name'].isin(["Mewtwo", "Lugia","Rayquaza","Giratina Origin Forme","Dialga","Palkia"])]
df_pokemon_6

                      Name   HP  Attack  ...  Speed  Generation  Legendary
162                 Mewtwo  106     110  ...    130           1       True
269                  Lugia  106      90  ...    110           2       True
425               Rayquaza  105     150  ...     95           3       True
540                 Dialga  100     120  ...     90           4       True
541                 Palkia   90     120  ...    100           4       True
545  Giratina Origin Forme  150     120  ...     90           4       True

[6 rows x 9 columns]

### Preprocessing

In [0]:
X = data_pok_kNN1.drop(['Name'], axis=1)
y = data_pok_kNN1['Name']

In [0]:
X1 = df_pokemon_6.drop(['Name'], axis=1)

### Training and Predictions

In [0]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=3)
classifier.fit(X, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=3, p=2,
                     weights='uniform')

In [0]:
y_pred = classifier.predict(X1)
print(y_pred)

['Mega Houndoom' 'Cresselia' 'Kyurem' 'Dialga' 'Mega Latios'
 'Giratina Origin Forme']